body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #655370;
}

header {
    background-color: #231829;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;
}

.experiment {
    background-color: #231829;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 250px;
    max-width: 300px;
}

.planet {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto 15px;
}

.mars {
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=a57978&c2=fb6416&gt=l&gd=dbb
    */
    background: #A57978;
    background: linear-gradient(0deg, #A57978, #FB6416);
}

.jupiter {
     /*
    * Created with https://www.css-gradient.com
    *  Gradient link: https://www.css-gradient.com/?c1=c19369&c2=c9b89d&gt=r&gd=dbb
    */
    background: #C19369;
    background: radial-gradient(at center bottom, #C19369, #C9B89D);
}

.saturn {
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=dddfa8&c2=a29176&gt=l&gd=dbb
    */
    background: #DDDFA8;
    background: linear-gradient(0deg, #DDDFA8, #A29176);
}

.experiment h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}

.status {
    margin-top: 10px;
    color: #fff;
    font-size: 0.9rem;
}

.online {
    color: green;
}

.offline {
    color: red;
}

footer {
    background-color: #231829;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
